/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
    font-family: Arial, Helvetica, sans-serif;
}
header > div {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: aqua;
}
.spotify-logo {
    height: 80px;
}
nav {
    background-color: blueviolet;
    width: 600px;
    height: 80px;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background-color: azure;
}
.landing {
    max-width: 100%;
}
.container {
    background-color: blue;
        display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.text-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    background-color: aqua;
}
.title {
    font-size: 50px;
}
.section1 {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;
}
.sectiontext {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
background-color: green;
text-align: center;
width: 80%;
}
.music-icon {
    height: 120px;
}
.section1 h1 {
    text-decoration: underline;
    text-decoration-color: #00B172;
    font-size: 250%;
}
.sectiontext h2 {
    color: #00B172;
}
.sectiontext p {
    color: #FFF;
}
.section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #00B172;
    height: 750px;
    align-content: center;
    align-items: center;
    color: #FFF;
    position: relative;
    margin: 20px;
}
.spotify-icon-white {
    height: 150px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
.spotify-app {
    height: 600px;
}
.section2 h1 {
    text-decoration: underline;
    font-stretch: expanded;
}
.section2 p {
    max-width: 310px;
}
.kanye-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 130%;
}


